.DS_Store
.idea
*.log*
node_modules
/coverage
/storybook-static

package-lock.json
yarn.lock

build

/packages/*/lib
/packages/*/es
*.lerna_backup

#excluded
!/packages/nivo-bar/es
!/packages/nivo-bar/lib

!/packages/nivo-core/es
!/packages/nivo-core/lib

!/packages/nivo-line/es
!/packages/nivo-line/lib

!/packages/nivo-pie/es
!/packages/nivo-pie/lib

